<%- if options[:metatags] %>
h1 = title('<%%= singular_table_name.titleize %>')
<%- else -%>
h1 <%%= singular_table_name.titleize %>
<%- end -%>
dl
<%% attributes.reject(&:password_digest?).each do |attribute| -%>
  dt <%%= attribute.human_name %>:
  dd = @<%%= singular_table_name %>.<%%= attribute.name %>
<%% end -%>
= link_to 'Edit', edit_<%%= singular_table_name %>_path(@<%%= singular_table_name %>)
'|
= link_to 'Back', <%%= index_helper %>_path
