<%- if options[:metatags] %>
<h1><%%%- title('New <%%= singular_table_name.titleize %>') %></h1>
<%- else -%>
<h1>New <%%= plural_table_name.titleize %></h1>
<%- end -%>

<%%%= render 'form', <%%= singular_table_name %>: @<%%= singular_table_name %> %>

<%%%= link_to 'Back', <%%= index_helper %>_path %>
